html {
  box-sizing: border-box;
  overflow-x: hidden;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}


html,
body {
  height: 100%;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.4;
  color: $black;
  background-color: $white;
  min-width: 320px;
  overflow-x: hidden;
}

.page {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.footer {
  margin-top: auto;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 15px;
}

a {
  text-decoration: none;
  transition: color 0.5 ease-in-out;
}

ul {
  list-style: none;
}

.d-flex {
  display: flex;
}

.f-jcsb {
  justify-content: space-between;
}

.f-aic {
  align-items: center;
}

.hidden {
  font-size: 0;
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.btn {
  background-color: $yellow;
  font-size: 22px;
  margin: 0 auto;
  color: $black;
  padding: 15px 30px;
  border-radius: 5px;

  &:hover {
    opacity: 0.6;
  }
}

.title {
  text-align: center;
  font-family: 'Pacifico';
  font-size: calc(36px + 12 * ((100vw - 320px) / (1280 - 320)));
  text-transform: capitalize;
  color: $text;
  margin: 0;
}

.title-yellow {
  color: $yellow;
}

