@mixin r($width) {
  @media only screen and (max-width: $width+ "px") {
    @content; 
  } 
}

@mixin b700 {
  font-weight: 700;
} 

@mixin m500 {
  font-weight: 500;
}

@mixin r400 {
  font-weight: 400;
}

@mixin transition {
  transition: color 0.3s ease;
}

@mixin transition-bg {
  transition: background-color 0.5s ease;
}

@mixin font-pacifico{
  font-family: 'Pacifico', sans-serif;
  font-size: 20px;
  color: $yellow;
}

@mixin text {
  font-size: 24px;
  font-weight: 400;
  text-align: center;
  line-height: 36px;
  text-align: center;
}