.footer {
  background-color: $text;
  padding: 65px 0 150px;
  position: relative;

  @include r ($tablet) {
    padding-bottom: 70px;
  }

  &__inner {
    @include r ($tablet) {
      flex-direction: column;
      align-items: center;
    }
  }

  &__column {
    @include r ($tablet) {
      text-align: center;
    }
  }

  &__img {
    max-width: 179px;
    max-height: 95px;
  }

  &__item {
    display: inline-block;
    margin-right: 10px;
  }

  &__label {
    margin: 30px 0 50px;
    font-size: 25px;
    text-transform: uppercase;
    display: block;
    @include fontRye;
  }

  &__address {
    list-style: normal;
    margin-left: 25px;
  }

  &__contact-item {
    margin-bottom: 20px;
    position: relative;

    &:hover {
      opacity: 1;
    }

    &:hover .footer__icon {
      opacity: 1;
    }
  }

  &__icon {
    font-family: 'icomoon' !important;
    color: $white;
    opacity: 0.3;
    font-size: 20px;

    &:hover {
      opacity: 1;
    }

    &--position {
      position: absolute;
      left: -30px;
      top: 10px;
    }

    &--top {
      top: 0;
    }
  }

  &__contact-city {
    display: block;
    color: $white;
    opacity: 0.6;

    &:hover {
      opacity: 1;
    }
  }

  &__contact-link {
    display: block;
    color: $white;
    opacity: 0.3;

    &:hover {
      opacity: 1;
    }
  }
}