.header {
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;

  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    background-color: #111111;
    opacity: 0.7;
  }

  &__top {
    z-index: 4;
    margin-top: 20px;
    position: relative;
  }

  &__order {
    color: $white;
    font-size: 16px;
    padding: 14px 45px;
    margin-right: 20px;
    border: 2px solid $white;
    @include m500;
    @include transition-bg;

    &:hover {
      background-color: $white;
      color: $text;
      box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.2);
    }
  }

  &__title-content {
    text-align: center;
    position: relative;
    padding: 125px 0 200px;
    z-index: 3;
  }

  &__txt {
    white-space: nowrap;
    display: inline-block;
    color: $yellow;
    font-size: 26px;
    font-family: 'Pacifico';
    padding: 10px 20px;
    background-color: $white;

    &:after,
    &:before {
      content: '';
      border-style: solid;
      border-width: 30px 27px 0 27px;
      border-color: #ffffff transparent transparent transparent;
      position: absolute;
      top: 24px;
      z-index: -1;
    }

    &:after {
      right: -34px;
    }

    &:before {
      left: -34px;
    }
  }

  &__txt-content {
    position: relative;
    display: inline-block;
    opacity: 0;
    animation: anim1 1s ease 2.5s forwards;
    @include transition-all;

    @keyframes anim1 {
      0% {
        top: -100px;
        opacity: 0;
      }
      100% {
        opacity: 1;
        top: 0;
      }
    }

    &:after,
    &:before {
      content: '';
      border-style: solid;
      border-width: 30px 30px 0 30px;
      border-color: #ffffff transparent transparent transparent;
      transform: rotate(-180deg);
      position: absolute;
      top: 32px;
      z-index: -1;
    }

    &:after {
      right: -45px;
    }

    &:before {
      left: -45px;
    }
  }

  &__title {
    text-transform: uppercase;
    margin: 60px 0 0 0;
    opacity: 0;
    animation: title 1.5s ease 1s forwards;
    @include transition-all;
    @include adaptiv-font (96, 56);
    @include fontRye;

    @keyframes title {
      0% {
        transform: scale(0);
        opacity: 0;
      }
      100% {
        transform: scale(1, 1);
        opacity: 1;
      }
    }
  }

  &__subtitle {
    @include adaptiv-font (64, 36);
    margin: 0 0 80px;
    display: inline-block;
    position: relative;
    opacity: 0;
    animation: subtitle 1.2s ease 1s forwards;
    @include fontArisonia;
    @include transition-all;

    @keyframes subtitle {
      0% {
        transform: translateY(100px);
        opacity: 0;
      }
      100% {
        transform: translate(0px, 0px);
        opacity: 1;
      }
    }

    &:after,
    &:before {
      content: "";
      position: absolute;
      background-image: url(../images/icon/rhombus.png);
      background-repeat: no-repeat;
      width: 42px;
      height: 42px;
      top: 36px;
    }

    &:before {
      left: -80px;
    }

    &:after {
      right: -80px;
    }
  }

  &__button {
    text-align: center;
    opacity: 0;
    animation: btn 1.2s ease 2s forwards;
    @include transition-all;
    @include m500;

    @keyframes btn {
      0% {
        transform: translateY(100px);
        opacity: 0;
      }
      100% {
        transform: translateY(0px, 0px);
        opacity: 1;
      }
    }
  }

    &__magnifier {
    position: relative;
    border: transparent;
    background-color: transparent;
    padding: 10px;
    outline: transparent;
    margin-right: 10px;
    color: $white;
    font-size: 20px;

    &:hover {
      color: $yellow;
    }
  }

  .menu {

    &__list {
      margin: 0;
    }

    &__item {
      text-transform: uppercase;
      display: inline-block;
      margin-right: 40px;
    }

    &__link {
      color: $white;
      @include b700;
      @include transition;

      &:hover {
        color: $yellow;
      }
    }
  }
}